---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout title="About - Josh Freedman" description="Some information about me!">
    <h2>About</h2>
    <p>TODO: write stuff for this page</p>
</BaseLayout>