---
import DateView from "../components/DateView.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	tagline: string;
    datePosted: Date;
}

const { title, tagline, datePosted } = Astro.props;
---
<BaseLayout title={`${title} - Josh Freedman`} description={tagline}>
    <h1>{title}</h1>
    <small>
        Posted on <DateView date={datePosted} />
    </small>
    <slot />
</BaseLayout>