---
import BaseLayout from "./BaseLayout.astro";

const { title, tagline } = Astro.props;
---
<BaseLayout title={`${title} - Josh Freedman`} description={tagline}>
    <h1>{title}</h1>
    <slot />
</BaseLayout>