---
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	tagline: string;
}

const { title, tagline } = Astro.props;
---
<BaseLayout title={`${title} - Josh Freedman`} description={tagline}>
    <h1>{title}</h1>
    <slot />
</BaseLayout>